<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>584188421098-j76orkqg2c0v6k92l1s11j28veb7dec6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.584188421098-j76orkqg2c0v6k92l1s11j28veb7dec6</string>
	<key>API_KEY</key>
	<string>AIzaSyCRXoZnGjFsc-2D0ofdtYlKLsKWOEipyIA</string>
	<key>GCM_SENDER_ID</key>
	<string>584188421098</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.winslow.Trainium</string>
	<key>PROJECT_ID</key>
	<string>trainium-75e9b</string>
	<key>STORAGE_BUCKET</key>
	<string>trainium-75e9b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:584188421098:ios:5045e0f1817859c6ae0893</string>
</dict>
</plist>